{% include 'admin/blocks/base.html.twig' %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestion des Articles</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-12 d-flex flex-column mb-5">
            <h3 class="text-center">Modification de l'article</h3>
            {% if error is defined and error != null %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
            {% if success is defined and success != null %}
              <div class="alert alert-success" role="alert">
                {{ success }}
              </div>
            {% endif %}
            {{ form | raw }}
          </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
{% endblock %}
